@use 'abstracts' as *;

:host {
  display: block;
}

.section {
  opacity: 0;
  transition: opacity $transition-base;

  &--visible {
    opacity: 1;
  }
}

@include reduced-motion {
  .section {
    opacity: 1;
  }
}
